# OS
.DS_Store

# Environment files
.env
.env.*
!.env.example

# Docker/runtime data
minio/data/
grafana/data/
monitoring-grafana-dashboard-server/
object-storage-server/

# Local logs and caches
*.log
*.pid
*.seed
*.tmp
*.swp
*.xml
*.meta


# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Node
node_modules/
dist/
build/